<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925504801880-j579hoia07memegb0c87ascj6smbv7b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925504801880-j579hoia07memegb0c87ascj6smbv7b7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925504801880-a8v79unt4obcfr24ilah11fqjo931t29.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCETa4BuVYoXSiKRW_bM5uq5YHjqEL3v4o</string>
	<key>GCM_SENDER_ID</key>
	<string>925504801880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.maincollec</string>
	<key>PROJECT_ID</key>
	<string>maincollec268</string>
	<key>STORAGE_BUCKET</key>
	<string>maincollec268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925504801880:ios:7fae460179cf6af6358e2d</string>
</dict>
</plist>